#colorRojo{
    border-radius: 50%;
    background: #ff8a80; 
    width:100%; 
    height: 150px;
}

#colorVerde{
    border-radius: 50%;
    background: #b9f6ca; 
    width:100%; 
    height: 150px;
}

#colorAzul{
    border-radius: 50%;
    background: #bbdefb; 
    width:100%; 
    height: 150px;
}

#colorAmarillo{
    border-radius: 50%;
    background: #fff9c4; 
    width:100%; 
    height: 150px;
}

.audio{
    display: none;
}